<div class="bookContainer container">
    <div class="two columns"></div>
    <div class="eight columns book centered">
        <div style="text-align: left">
            {% if title is defined %}
            <h5>{{ title }}</h5>
            {% endif %}
            {% if content is defined %}
            {% if content is string %}
            <p>{{ content }}</p>
            {% else %}
            {% for instance in content %}
            <p>{{ instance }}</p>
            {% endfor %}
            {% endif %}
            {% endif %}
        </div>
        {% if author is defined %}
        <div style="text-align: right">
            <p>{{ author }}</p>
        </div>
        {% endif %}
    </div>
</div>